/* ===== ヘッダー ===== */
.header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-inner {
  position: relative;
  height: 70px;
  left: 15px;
  top: 18px;
}

.logo {
  position: absolute;
  width: 178px;
  height: auto;
}

@media (min-width: 768px) {
/*
  .header-inner {
    height: 100px;
    left: 35px;
    top: 18px;
  }

  .logo {
    width: 281px;
  }
*/
}
