/* ===== フッター ===== */
.footer {
  padding: 40px 0;
  background: #fff;
  text-align: center;
}

.footer .copyright {
  font-size: 12px;
  color: #555;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .footer {
    padding: 60px 0;
  }

  .footer .copyright {
    font-size: 14px;
  }
}
